<div class='list-group list-view-pf list-view-pf-view'>

  <fabric8-loading [loading]="loading">
    <div class='list-group-item deployment' *ngFor='let deployment of runtimeDeployments'>
      <fabric8-deployment-list-entry [deployment]="deployment"></fabric8-deployment-list-entry>
    </div>
  </fabric8-loading>
</div>

<modal #deleteDeploymentModal title="Delete Deployment">
  <modal-content>
    <delete-deployment-dialog></delete-deployment-dialog>
  </modal-content>
</modal>

<modal #scaleDeploymentModal title="Scale Deployment">
  <modal-content>
    <scale-deployment-dialog></scale-deployment-dialog>
  </modal-content>
</modal>

